:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  --white-col: rgb(235, 235, 235);
  --xwhite-col: #f1f1f1;
  --dark-col: #141414;
  --ltdark-col: #464646;
  --button-col: #1a5893;
  --hover-col: #2980b9; 
  --active-col: #1f618d; 
  --grey-col: #bdc3c7; 
  --input-col: #e3e3e3; 
  --dkgrey-col: #313234; 

  color: var(--dark-col);
  background-color: var(--white-col);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
}



/* display: flex;
place-items: center;
min-width: 320px;
min-height: 100vh;
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center; */