:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  --white-col: rgb(235, 235, 235);
  --xwhite-col: #f1f1f1;
  --dark-col: #141414;
  --ltdark-col: #464646;
  --blue-col: #2980b9; 
  --blue-accent-col: #3b93ce; 
  --green-col: #5dad20; 
  --green-accent-col: #73c435; 
  --grey-col: #bdc3c7; 
  --input-col: #e3e3e3; 
  --dkgrey-col: #313234; 

  color: var(--dark-col);
  background-color: var(--white-col);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
}


