main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  width: 100%;
}

.form-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-width: 280px;
  width: 90%;
  max-width: 468px;
  background-color: var(--xwhite-col);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.123);
  gap: 10px;
}



.form-holder span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 90%;
  /* background-color: var(--grey-col); */
}

.form-holder span label {
  display: flex;
  flex-direction: column;
  width: calc(100% - 15px);
  padding-left: 15px;
  align-items: left;
}


input {
  width: 97%!important;
}
select, input {
  width: 100%;
  padding: 5px;
  border: 2px solid var(--grey-col);
  border-radius: 5px;
  background-color: var(--xwhite-col);
  color: var(--dark-col);
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input:hover {
  border-color: #3498db; 
}


input:focus {
  outline: none;
  border-color: #2980b9; 
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.8); 
}


input:disabled {
  background-color: #d5dbdb; 
  color: #bdc3c7; 
  cursor: not-allowed;
}


input::placeholder {
  color: var(--dkgrey-col);
}


input:focus {
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.8); 
}

.xbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  border: 0px solid transparent;
  cursor: pointer;
}

.xbutton:hover {
  background-color: #555;
}

.linkbutton {
  background-color: transparent;
  cursor: pointer;
  border: 0px solid transparent;
  font-size: 1rem;
}


